<h2>Contact Us</h2>
<p>
Lauren DiNicola, Ph.D. <br>
Assistant Professor <br>
Department of Psychology <br>
University of Virginia <br>
<br>
email:  kpw6tb (at) virginia.edu <br>
 or DiNicolaLab (at) gmail.com <br>
<br>
Future Lab Location: Gilmer Hall <br>
485 McCormick Rd <br>
Charlottesville, VA 22904 <br>
</p>

<p>
 <h3> Interested in joining the DiNicola lab? </h3>
See our <a href="{{ site.url }}/join">Join</a> page for open positions!</b><br>
 <br>
 We welcome applicants from <b>all</b> backgrounds.<br>
